body {
  display:flex;
  justify-content: center;
  margin: 0;
  background-color: rgb(10,10,10);
  animation: body 1s linear forwards;
  animation-delay: 1s;
  position: relative;
  overflow-x: hidden;
  font-family: monospace;
}

#main-page {
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin: 0;
  animation: main-page 1s linear forwards;
  animation-delay: 1s;
  text-align: center;
}


#my-name {
  margin-top: 0px;
  margin-bottom: 0px;
  position: absolute;
  z-index: 4;
  color: white;
  /* font-family: "Inter", sans-serif; */
  font-size: 100px;
  font-weight: bold;
  pointer-events: none;
  /* display: none; */
}

.name {
  transform: translateY(-20px);
}
.my-name {
  display: flex;
  justify-content: center;
}
#intro1 {
  color: white;
  /* font-family: "Inter", sans-serif; */
}

.normal {
  color: white;
  /* font-family: "Inter", sans-serif; */
  position: relative;
}

#my-text {
  font-size: x-large;
}
.loud {
  color: gray
}
#masterhacker {
  text-transform: uppercase;
  font-weight: bolder;
  transition: color 500ms ease, background-color 500ms ease;
}

#masterhacker:hover {
  background-color: black;
  text-transform: uppercase;
  font-weight: bolder;
  color: green;
  position: relative;
}

#casual-friends:hover::before {
  content: "non-Programmer ";
  color: red;
}
#webring {
  margin: 30px;
}
#webring a{
  color: white;
  text-decoration: none;
}
.ring-link {
  text-decoration: underline !important;
}
.ring-button {
  border: white 1px solid;
  height: 20px;
  width: 20px;;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
  text-align: center;
}
#socials a {
  color: #2f81f7;
}
#socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
#socials p {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin: 5px;
}
#links-title {
  font-size: 30px;
  padding: 0%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: underline;
}
#contact-title {
  font-size: 30px;
  padding: 0%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: underline;
}
.not-checked-very-often {
  color: gray
}

#buttons {
  display: flex;
  justify-content: center;
}

#buttons a img {
  margin-left: 10px;
  overflow: hidden;
}

#buttons a img:hover {
  outline: 3px solid white;
}

#germany-audio {
  display: none;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index:-1;
  background: rgba(0, 0, 0, 0.9);
  transition: opacity 500ms;
}

.popup {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  align-items: center;
  justify-content: center;
}
.popup:target {
  visibility: visible;
  opacity: 1;
}
.popup iframe {
  max-width: 900px;
  color: white;
}
.popup a {
  font-size: 35px;
  position: absolute;
  color: white;
  top: 3%;
  left: 98%;
  transform: translate(-100%);
  text-decoration: none;
}

#dvd {

  mask: url("https://upload.wikimedia.org/wikipedia/commons/9/9b/DVD_logo.svg");
  display: block;
  position: absolute;
  top:0;
  left:0;
  z-index: 0;
  width: 200px;
  height:89px;
  animation: dvdX 5s linear 0s infinite alternate, dvdY 6.3s linear 0s infinite alternate, colororor 10s infinite alternate;
}

/* #my-name-shadow {
    background:linear-gradient(#fff, #fff);
    font-family: "Inter",sans-serif;
    font-size: 100px;
    text-decoration:underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    -webkit-background-clip: text;
    color:transparent;
} */
.my-name-shadow {
  margin-top: 0px;
  margin-bottom: 0px;
  background: linear-gradient(#eee, #333);
  /* font-family: "Inter", sans-serif; */
  font-size: 100px;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

#hi {
  display: block;
  position: absolute;
  top: calc(100vh - 60px);
  left: calc(100vw - 60px);
  animation: showNotification 1s ease-in-out forwards, hideNotification 1s ease-in-out 9s forwards;
}

#name-shadow-container {
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  z-index: 3;
}

/* #name-shadow-container {
    .my-name-shadow * {
        transition: transform 1s ease, background-color 1s ease;
    }

} */
#name-shadow-container:hover .my-name-shadow.one {
  animation-name: moveY, coloror;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal, alternate;
  /* animation: moveY $duration infinite linear both; */
  /* animation: color $distance infinite linear both alternate; */
}
#name-shadow-container:hover .my-name-shadow.two {
  animation-name: moveY, coloror;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal, alternate;
  animation-delay: 125ms;
}
#name-shadow-container:hover .my-name-shadow.three {
  animation-name: moveY, coloror;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal, alternate;
  animation-delay: 250ms;
}
#name-shadow-container:hover .my-name-shadow.four {
  animation-name: moveY, coloror;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal, alternate;
  animation-delay: 375ms;
}
#name-shadow-container:hover .my-name-shadow.five {
  animation-name: moveY, coloror;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal, alternate;
  animation-delay: 500ms;
}
#name-shadow-container:hover .my-name-shadow.six {
  animation-name: moveY, coloror;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal, alternate;
  animation-delay: 625ms;
}
#name-shadow-container:hover .my-name-shadow.seven {
  animation-name: moveY, coloror;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal, alternate;
  animation-delay: 750ms;
}

@keyframes moveY {
  25% {
    transform: translateY(30px);
  }
  75% {
    transform: translateY(-30px);
  }
}
@keyframes coloror {
  0% {
    background: blue;
    -webkit-background-clip: text;
    color: transparent;
  }
  100% {
    background: red;
    -webkit-background-clip: text;
    color: transparent;
  }
}
@keyframes rotaty {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes dvdY {
  from {
    top: -40px;
  }
  to {
    top: calc(100vh - 110px);
  }
}
@keyframes dvdX {
  from {
    left: 0;
  }
  to {
    left: calc(100vw - 200px);
  }
}
@keyframes notify1 {
  0% {
    visibility: visible;
  }
  16% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
@keyframes showNotification {
  0% {
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes hideNotification {
  0% {
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
@keyframes colororor {
  100%,0%{
    background-color: rgb(255,0,0);
  }
  8%{
    background-color: rgb(255,127,0);
  }
  16%{
    background-color: rgb(255,255,0);
  }
  25%{
    background-color: rgb(127,255,0);
  }
  33%{
    background-color: rgb(0,255,0);
  }
  41%{
    background-color: rgb(0,255,127);
  }
  50%{
    background-color: rgb(0,255,255);
  }
  58%{
    background-color: rgb(0,127,255);
  }
  66%{
    background-color: rgb(0,0,255);
  }
  75%{
    background-color: rgb(127,0,255);
  }
  83%{
    background-color: rgb(255,0,255);
  }
  91%{
    background-color: rgb(255,0,127);
  }
}
/*# sourceMappingURL=style.css.map */